body {
	background-color: #FEF2F4;
}

/**** layout styles ****/
header {
	width: 75vw;
	margin: 25px auto;
	background-color: #FCC8D1;
}

h1 {
	text-align: center;
}

main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}

.col {
	width: 50%;
	float: left;
}

.wss {
	width: 75vw;
}