body {
	background-color: #FEF2F4;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/**** Changing body typeface ****/
body {
	font-family: "Manrope", sans-serif;
}

/**** layout styles ****/
header {
	width: 75vw;
	margin: 25px auto;
	background-color: #FCC8D1;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: #921A40;
}

h2 {
	color: #C75B7A;
}

h3 {
	color: #C75B7A;
}

p {
	color: #921A40;
}

/**** Bullet point color ****/
li::marker {
	color: #C75B7A;
}

/**** Link Colors ****/

a:link {
	color: #C75B7A;
}

a:hover {
	color: #FFABAB;
}

a:visited {
	color: #F98B9D;
}

main {
	width: 75vw;
	margin: 25px auto;
	display: flow-root;
}

.col {
	width: 50%;
	float: left;
}

.wss {
	clear: both;
}

/**** Weekly Screenshot gallery ****/
div.gallery {
  border: 1px solid #C75B7A;
}

div.gallery:hover {
  border: 1px solid #921A40;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #C75B7A;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}